.bg-hero-image{
    background-image: url("img/protest2.jpg");
    background-position: center center;
}
.DES{
    font-family: Edu TAS Beginner;
    font-style: oblique;
}

body{
    background-color:#8A6956
}
